# Environment
.env
*.env.local

# Data
data/
data-raw/*.csv
data-raw/*.json
data-raw/*.xlsx
data-raw/*.xls
data-raw/*.parquet
data-raw/*.zip
data-raw/*.tar.gz

# Python
__pycache__/
*.pyc
.venv/
.uv/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/profiles.yml
airflow/.env
